.Contenedor{
    grid-template-columns: 1fr 1fr;
    display: grid;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:20px;
    align-items: flex-start;

}   
.caja1{
    background-color: black;
    color:white;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0,0, 0,0.2);
}
.caja2{
    background-color: black;
    color:white ;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(255, 253, 253, 0.2);
    
}

.Grande{
    background-color: black;
    color:white ;
    width: 200%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(255, 253, 253, 0.2);
}


.DEPORTE{
    width: 250px;
    height: 200px;
    margin-right: 20px;
    background-position: center;
    vertical-align: middle;
    border-radius: 12px;
}

.Tabla{
    width: 500px;
    height: 200px;
    margin-right:20px ;
    background-position: Center;
    vertical-align: middle ;
    border-radius: 12px;

}
.LOGO{
    width: 100X;
    height: 100PX;
    margin-right: 30px;
    vertical-align: middle;
}



