.contenedor{
     grid-template-columns: 1fr 1fr 1fr 1fr;
     border-radius: 15px;
     background-color: #ffffff;
     padding: 20px;
     margin: 20px;
     display: grid;
     gap: 20px;
    
}


.titulo {
    text-align: center;
    font-size: 25px;
    color: #f2f2f2;
}

.grupo{
    width: 250px;
    padding: 15px 15px;
    margin: 10px;
    border: 1px solid #000000;
    text-align: left;
    background-color: crimson;
    border-radius: 15px;
    height: 250px;
} 

table {
       border-color: #ffffff;
       border-collapse: collapse;
       width: 100%;
}

td{
    border-color: aliceblue;
    padding: 10px;
    color: rgb(255, 255, 255);
    border: 1px solid #ffffff;
}

.banderas{
    width: 50px;
    height: 30px;
    margin-right: 18px;
     vertical-align: middle;
     
}


 